Repository reaandrew/politest: changes, and which lefthook commands are due for each by the changed paths.
All: fmt, vet, staticcheck, test, mod-tidy, trailing-whitespace

fmt:
  run: gofmt -w {staged_files} && git add {staged_files}

vet:
  run: go vet ./...

staticcheck:
  run: staticcheck ./...

test:
  run: go test -race -coverprofile=coverage.out -covermode=atomic ./...

mod-tidy:
  run: go mod tidy

trailing-whitespace:
  run: "if grep -rn '[[:blank:]]$' {staged_files}; then\n  echo \"Error: Trailing whitespace found\"\n  exit 1\nfi\n"

chore: add .gitignore for Go project
  .gitignore
Due: trailing-whitespace

fix: use strings.EqualFold for case-insensitive comparison
  main.go
Due: fmt, vet, staticcheck, test, trailing-whitespace

docs: add CLAUDE.md and enhance README documentation
  CLAUDE.md
  README.md
Due: trailing-whitespace

fix: prevent quality gate check from running on sonar scan failure
  .github/workflows/ci.yml
  .mcp.json
Due: trailing-whitespace

fix: improve SonarCloud failure handling in CI workflow
  .github/workflows/ci.yml
Due: trailing-whitespace

fix: handle NONE quality gate status in SonarCloud check
  .github/workflows/ci.yml
Due: trailing-whitespace

fix: prevent test script from exiting on arithmetic expansion
  test/run-tests.sh
Due: trailing-whitespace

fix: correct test expectations for SCP/RCP explicit denies
  test/scenarios/02-policy-allows-scp-denies.yml
  test/scenarios/05-policy-allows-rcp-denies.yml
  test/scenarios/07-multiple-scps-all-must-allow.yml
Due: trailing-whitespace

chore(release): 1.0.0 [skip ci]
  CHANGELOG.md
Due: trailing-whitespace

Notes added by 'git notes add'
  6414d068ff1d7b222bbc4bfbe00a82dd9197ff7c
Due: trailing-whitespace

feat: add test collection format with named test cases
  CLAUDE.md
  main.go
  test/scenarios/08-collection-format-s3.yml
  test/scenarios/09-collection-format-scp-denies.yml
Due: fmt, vet, staticcheck, test, trailing-whitespace

feat: optional test names, context examples, and logo in README
  CLAUDE.md
  README.md
  images/logo.png
  lefthook.yml
  main.go
  test/policies/allow-s3-with-conditions.json
  test/policies/ec2-with-conditions.json
  test/scenarios/10-context-conditions.yml
  test/scenarios/11-context-stringlist.yml
Due: fmt, vet, staticcheck, test, trailing-whitespace

feat: add resource policy and cross-account testing support
  CLAUDE.md
  main.go
  test/policies/s3-bucket-policy-cross-account.json
  test/policies/user-alice-identity.json
  test/scenarios/12-resource-policy-cross-account.yml
  test/scenarios/13-test-level-overrides.yml
Due: fmt, vet, staticcheck, test, trailing-whitespace

feat: add comprehensive test examples demonstrating all features
  CLAUDE.md
  main.go
  test/policies/s3-bucket-policy-templated.json.tpl
  test/policies/s3-templated.json.tpl
  test/rcp/deny-production-resources.json
  test/scenarios/14-base-with-variables.yml
  test/scenarios/15-extends-add-scp.yml
  test/scenarios/16-extends-override-vars.yml
  test/scenarios/17-collection-format-rcp.yml
  test/scenarios/18-comprehensive-all-features.yml
  test/scp/deny-s3-delete.json
  test/scp/deny-s3-write.json
  test/vars/common-vars.yml
  test/vars/cross-account-vars.yml
Due: fmt, vet, staticcheck, test, trailing-whitespace

docs: add comprehensive GitHub Wiki documentation
  docs/wiki/API-Reference.md
  docs/wiki/Getting-Started.md
  docs/wiki/Home.md
  docs/wiki/Installation-and-Setup.md
  docs/wiki/README.md
  docs/wiki/Scenario-Formats.md
  docs/wiki/Template-Variables.md
  docs/wiki/_Sidebar.md
Due: trailing-whitespace

docs: add important disclaimer about testing limitations
  README.md
Due: trailing-whitespace

test: add comprehensive unit tests for main.go
  main_test.go
Due: fmt, vet, staticcheck, test, trailing-whitespace

refactor: add Exiter and IAMSimulator interfaces for testability
  main.go
  main_test.go
Due: fmt, vet, staticcheck, test, trailing-whitespace

docs: document quality gate threshold configuration
  sonar-project.properties
Due: trailing-whitespace

test: add comprehensive tests to achieve 80.3% coverage
  main_test.go
Due: fmt, vet, staticcheck, test, trailing-whitespace

chore(release): 1.1.0 [skip ci]
  CHANGELOG.md
Due: trailing-whitespace

Notes added by 'git notes add'
  db74fa6178fdd00fb54517dddbe04c8493991bcd
Due: trailing-whitespace

refactor: reorganize code into internal package structure
  internal/helpers.go
  internal/interfaces.go
  internal/internal_test.go
  internal/output.go
  internal/policy.go
  internal/scenario.go
  internal/simulator.go
  internal/template.go
  internal/types.go
  main.go
Due: fmt, vet, staticcheck, test, trailing-whitespace

refactor: fix SonarCloud quality gate issues
  internal/internal_test.go
  internal/policy.go
  internal/scenario.go
  internal/simulator.go
  internal/types.go
  main.go
Due: fmt, vet, staticcheck, test, trailing-whitespace

chore: upgrade to Go 1.24 and fix dependency scan configuration
  .github/workflows/ci.yml
  go.mod
Due: mod-tidy, trailing-whitespace

docs: add GitHub community files and improve README formatting
  .github/CODEOWNERS
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/PULL_REQUEST_TEMPLATE.md
  CONTRIBUTING.md
  LICENSE
  README.md
  SECURITY.md
  SUPPORT.md
  docs/ARCHITECTURE.md
  docs/wiki/UPLOAD-INSTRUCTIONS.md
Due: trailing-whitespace

fix: address code review feedback - improve validation and security
  internal/helpers.go
  internal/internal_test.go
  internal/simulator.go
  internal/template.go
  main.go
Due: fmt, vet, staticcheck, test, trailing-whitespace

docs: improve documentation and add --no-warn flag
  README.md
  SECURITY.md
  main.go
Due: fmt, vet, staticcheck, test, trailing-whitespace

refactor: extract helper function tests into helpers_test.go
  internal/helpers_test.go
  internal/internal_test.go
Due: fmt, vet, staticcheck, test, trailing-whitespace

refactor: extract output tests into output_test.go
  internal/internal_test.go
  internal/output_test.go
Due: fmt, vet, staticcheck, test, trailing-whitespace

test: extract policy.go tests into policy_test.go
  internal/internal_test.go
  internal/policy_test.go
Due: fmt, vet, staticcheck, test, trailing-whitespace

test: extract scenario.go tests into scenario_test.go
  internal/internal_test.go
  internal/scenario_test.go
Due: fmt, vet, staticcheck, test, trailing-whitespace

test: extract simulator.go tests into simulator_test.go
  internal/internal_test.go
  internal/simulator_test.go
Due: fmt, vet, staticcheck, test, trailing-whitespace

test: extract template.go tests into template_test.go
  internal/internal_test.go
  internal/simulator_test.go
  internal/template_test.go
Due: fmt, vet, staticcheck, test, trailing-whitespace

chore: remove empty internal_test.go file
  internal/internal_test.go
Due: fmt, vet, staticcheck, test, trailing-whitespace

test: improve code coverage to 96.0% (new code: 81.3%)
  internal/helpers_test.go
  internal/policy_test.go
  internal/simulator_test.go
Due: fmt, vet, staticcheck, test, trailing-whitespace

docs: standardize CI stage names and add comprehensive badge section
  .github/workflows/ci.yml
  README.md
Due: trailing-whitespace

chore(release): 1.1.1 [skip ci]
  CHANGELOG.md
Due: trailing-whitespace

Notes added by 'git notes add'
  f86b696663ee1b60f1d2e6b40f8e25c189173ac8
Due: trailing-whitespace

feat: add actions array support and comprehensive examples
  examples/README.md
  examples/athena-policy/README.md
  examples/athena-policy/policies/ACME_EC2InstanceProfile_AthenaPolicy.json.tpl
  examples/athena-policy/scenario.yml
  examples/athena-policy/scp/010-allow-all.json
  examples/athena-policy/vars.yml
  internal/simulator.go
  internal/simulator_test.go
  internal/types.go
Due: fmt, vet, staticcheck, test, trailing-whitespace

Path conditions:
  fmt: any of: *.go
  vet: any of: *.go
  staticcheck: any of: *.go
  test: any of: *.go
  mod-tidy: any of: go.{mod,sum}
  trailing-whitespace: any of: *
