Repository reaandrew/politest: changes, and which lefthook commands are due for each by the changed paths.
All: fmt, vet, staticcheck, test, mod-tidy, trailing-whitespace

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    fmt:
      glob: "*.go"
      run: gofmt -w {staged_files} && git add {staged_files}

    vet:
      glob: "*.go"
      run: go vet ./...

    staticcheck:
      glob: "*.go"
      run: staticcheck ./...

    test:
      glob: "*.go"
      run: go test -race -coverprofile=coverage.out -covermode=atomic ./...

    mod-tidy:
      glob: "go.{mod,sum}"
      run: go mod tidy

    trailing-whitespace:
      glob: "*"
      run: |
        if grep -rIn '[[:blank:]]$' {staged_files} 2>/dev/null | grep -v "Binary file"; then
          echo "Error: Trailing whitespace found"
          exit 1
        fi

chore: create patch release with chore(deps) scope
  .releaserc.json
Due: trailing-whitespace

chore: create patch release with chore(deps) scope (#29)
  .releaserc.json
Due: trailing-whitespace

chore(release): 3.4.1 [skip ci]
  CHANGELOG.md
Due: trailing-whitespace

Notes added by 'git notes add'
  07faed54e19845a97ada56fbbfd68f7c2434cb36
Due: trailing-whitespace

chore: group Dependabot updates by ecosystem
  .github/dependabot.yml
Due: trailing-whitespace

chore(release): 3.4.2 [skip ci]
  CHANGELOG.md
Due: trailing-whitespace

Notes added by 'git notes add'
  6db0d2d67c09503a7cd94ba1a684a7a3bb3fb3fd
Due: trailing-whitespace

chore(release): 3.4.3 [skip ci]
  CHANGELOG.md
Due: trailing-whitespace

Notes added by 'git notes add'
  a66974b386f2a1b9f2577b805b2ab9af115c68a6
Due: trailing-whitespace

chore(release): 3.4.4 [skip ci]
  CHANGELOG.md
Due: trailing-whitespace

Notes added by 'git notes add'
  9a66ad430fda1d5f1133166a773e7a4776e2d341
Due: trailing-whitespace

chore: group Dependabot updates by ecosystem (#30)
  .github/dependabot.yml
Due: trailing-whitespace

chore(release): 3.4.5 [skip ci]
  CHANGELOG.md
Due: trailing-whitespace

Notes added by 'git notes add'
  919a3e6e5e44686b57d2e250c2179eef8ce4833f
Due: trailing-whitespace

chore(release): 3.4.6 [skip ci]
  CHANGELOG.md
Due: trailing-whitespace

Notes added by 'git notes add'
  121ffa4e005b24071744d57ec2dcf2cb7a272f53
Due: trailing-whitespace

feat: add AI-powered policy generation command
  README.md
  go.mod
  go.sum
  internal/generate.go
  internal/llm.go
  internal/progress.go
  internal/scraper.go
  main.go
Due: fmt, vet, staticcheck, test, mod-tidy, trailing-whitespace

fix: remove unused functions to fix staticcheck errors
  internal/llm.go
Due: fmt, vet, staticcheck, test, trailing-whitespace

feat: add SCP generation and policy consolidation
  .gitignore
  examples.sh
  internal/generate.go
  internal/llm.go
  main.go
Due: fmt, vet, staticcheck, test, trailing-whitespace

fix: resolve SonarCloud quality gate failures
  internal/generate_test.go
  internal/llm_test.go
  internal/policy.go
  internal/progress_test.go
  internal/scraper_test.go
Due: fmt, vet, staticcheck, test, trailing-whitespace

test: improve test coverage to 84% for internal package
  internal/llm_test.go
  internal/scraper_test.go
Due: fmt, vet, staticcheck, test, trailing-whitespace

test: improve test coverage to 86.5% for internal package
  internal/llm_test.go
  internal/scraper_test.go
Due: fmt, vet, staticcheck, test, trailing-whitespace
